.Intro{
  margin-left: 100px;
}

.body{
  body {
    background-image: url("http://img01.deviantart.net/62d0/i/2015/110/0/3/food_wallpaper_by_chimeeu-d8qehoz.jpg");
    background-color: #cccccc;
}
}
